body {

  padding: 0;

  margin: 0;

  background: white !important;

  overflow-x: hidden;

  font-family: 'Comfortaa', cursive;

}



/*--- navigation bar ---*/

.headerr {

    text-align: center;

    -webkit-transition: all .5s;

    transition: all .5s;

    height: 80px;

    background: black;

    color: white;

    opacity: 0.95;

}

nav{

  height: 70px

}



nav ul {

    display: inline-block;

    padding-left: 0;

    list-style: none;

    padding: 20px;

    margin-bottom: 0;

    -webkit-transition: all .5s;

    transition: all .5s;



}



nav li {

    display: inline-block;

    margin: 10px;

}



nav li a {

    text-transform: uppercase;

    letter-spacing: 2px;

    color: white;

    font-size: 11px;

    font-weight: bold;

    text-decoration: none;

}

nav li a:hover{

  text-decoration: none;

  color: purple;

}

nav li a:hover,

nav li a:active{

  text-decoration: none;

  color: #A825B6;

}







.bg-nav ul {

    padding: 10px;

}



.page-header{

  background: black;

}











.overlay {

  position: absolute;

  min-height: 100%;

  min-width: 100%;

  left: 0;

  top: 0;

  background: rgba(0, 7, 0, 0.6);

}

.description {

  left: 50%;

  position: absolute;

  top: 45%;

  transform: translate(-50%, -55%);

  text-align: center;



}

.description h1 {

  color: #D5D5D5;

  font-size: 4.5rem;

  font-family: 'Lobster', cursive;

}

.description p {

  color: #D5D5D5;

  font-size: 1.3rem;

  line-height: 1.5;

  font-family: 'Comfortaa', cursive;

}

.description img {

  width: 190px;

  margin-top: 7px;

}

.arrow-down{

  width: 100%;

  text-align: center;

}

.arrow-down::after{

  content: "";

  width: 40px;

  height: 40px;

  position: absolute;

  margin-top: 450px;

  margin-left: 650px;

  top: 0;

  right: 0;

  bottom: 0;

  left: 0;

  border-right: 4px solid #fff;

  border-bottom: 4px solid #fff;

  -webkit-transform: rotate(45deg);

  transform: rotate(45deg);

  -webkit-animation: 3s arrow infinite ease;

  animation: 3s arrow infinite ease;

}

@-webkit-keyframes arrow{

  0%, 100%{

    top: 50px;

  }

  50%{

    top: 80px;

  }

}



keyframes arrow{

  0%, 100%{

    top: 50px;

  }

  50%{

    top: 80px;

  }

}

.page{

  transition: 1s;

  opacity: 0.3;

  transform: translateY(100px);

}

.page[data-scroll="in"]

{

  opacity: 1;

  transition-delay: 0.5s;

  transform: translateY(0);

}

.containerx{

  background: white;

  color: black;

  width: 100%;

  height: 810px;

  transition: 1s;

  opacity: 0.2;

  transform: translateY(100px);

}

.containerx[data-scroll="in"]

{

  opacity: 1;

  transition-delay: 0.5s;

  transform: translateY(0);

}

.containerxx{

  background: #EBE8E8;

  color: black;

  width: 100%;

  height: auto;

  transition: 1s;

  opacity: 0.2;

  transform: translateY(100px);

}

.containerxx[data-scroll="in"]

{

  opacity: 1;

  transition-delay: 0.5s;

  transform: translateY(0);

}



.mypics{

  width: 420px !important;

  height: 640px;

  margin-left: 40px;

  transition: 1s;

  transform: translateX(160px);

  opacity: 0.5;

  margin-bottom: 0px;

  margin-top: 10px;

}

.mypics[data-scroll="in"]

{

  transform: translateX(0);

  transition-delay: 0.7s;

  opacity: 1;

}

.pgn{

  font-size: 25px;

  margin-top: 40px;

  color: #A825B6;

  font-family: 'Comfortaa', cursive;

}

.pgn:after {

    position: static;

    width: 30px;

    left: -40px;

    content: "";

    display: block;

    height: 2px;

    background: #A825B6;

    top: 9px;

}

.heading{

  color: #333733;

  font-family: 'Lobster', cursive;

  letter-spacing: 1px;

  transition: all 0.4s ease;

  transform-origin: left;

  transform: scalex(0);

  display: inline-block;

  opacity: ;



}

.heading[data-scroll="in"]

{

  transform: scalex(1);

  opacity: 1;

  transition-delay: 0.5s;





}

.heading::before{

  content: '';

  position: absolute;

  top: 0;

  left: 0;

  width: 100%;

  height: 100%;

  background: purple;

  transform-origin: right;

  transition: 2.0s;

  opacity: 0.2;



}

.heading[data-scroll="in"]::before{

  transform: scaleX(0);

  transition-delay: 0.5s;

}





.about-p{

  color: #606060;

  font-family: serif;

  font-family: 'Comfortaa', cursive;

  transition: 1s;

  opacity: 0;

  transform: translateY(100px);

}

.about-p[data-scroll="in"]

{

  opacity: 1;

  transition-delay: 0.5s;

  transform: translateY(0);

}

.pcont{

  text-align: center !important;

  font-family: 'Comfortaa', cursive;

  color: #979797;

  transition: 1s;

  opacity: 0;

  transform: translateY(100px);

}

.pcont[data-scroll="in"]

{

  opacity: 1;

  transition-delay: 0.5s;

  transform: translateY(0);

}

 .pcontt{

   transition: 0.7s;

   transform-origin: right;

   transform: scaleX(0);

   opacity: 0.3;

   font-family: 'Comfortaa', cursive;

   font-weight: 700;



 }

 .pcontt[data-scroll="in"]{

   transform: scaleX(1);

   opacity: 1;

   transition-delay: 1s;

 }

 .pcontt::before{

   content: '';

   position: absolute;

   top: 0;

   left: 0;

   width: 100%;

   height: 100%;

   background: #79c382;

   transform-origin: left;

   transition: 0.7s;

   opacity: 0.09;

 }

 .pcontt[data-scroll="in"]::before{

   transform: scaleX(0);

   transition-delay: 1.5s;

 }

.left{



  text-align: center;

  transform: translateY(10px);

  transition: 0.2s;

  height: 190px;

  color: #606060;



}

.left:hover{

  transform: translateY(0);

  cursor: pointer;

  transition-delay: 0.1s;

  box-shadow: 1px 1px 4px grey;

}

.btn-p{

  text-align: left !important;

  float: right;

  font-size: 2.2rem;

  opacity: 0.2;

}

.up{

  margin-top: 188px;

}





.features {

  margin: 4em auto;

  padding: 1em;

  position: relative;

}

.feature-title {

  color: green;

  font-size: 1.3rem;

  font-weight: 700;

  margin-bottom: 20px;

  text-transform: uppercase;

}

.icons{

  font-size: 35px;

  padding: 5px 5px;

  height: 40px;

  width: 40px;

  color: purple;





}



.iconc{

        font-size: 35px;

        text-decoration: none;

        color: grey;

      }

      .ig:hover{

      color: #D81616;

      }

      .tw:hover{

        color: skyblue;

      }

@media (max-width: 575.98px) {

  .mypics{

    width: 400px !important;

    height: 590px;

    margin-left: 0px;

  }



  .arrow-down::after{

    margin-top: 465px;

    margin-left: 167px;

  }

  .description {

    left: 0;

    padding: 0 15px;

    position: absolute;

    top: 10%;

    transform: none;

    text-align: center;

  }



  .description h1 {

    font-size: 2em;

  }



  .description p {

    font-size: 1.2rem;

  }



  .features {

    margin: 0;

  }

  .description img{

    width: 250px;

  }

  .containerx{

    height: auto;

  }



}

@media (max-width: 420px) {

    nav li {

        margin: 4px;

    }

    nav li a {

        font-size: 10px;

    }

  }@media (max-width: 420px) {

    .description img {

    width: 150px;

  }

  @media (max-width: 900px) {

      .up {

        margin-top:  4px;

      }

